.dialog {
  width: 100%;
  max-width: 1200px;
  padding: 1% 20px 1% 3%;
  display: flex;
  font-size: 24px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  margin: 0;
  position: absolute;
  height: 100%;
  bottom : 0px;
  color: #dbc7ad;
}

.nightmode .dialog {
  /* background: rgba(64, 64, 64, 0.8) */
}

#portrait {
  display: flex;
  align-items: center;
  max-width: 20vw;
  width: 360px;
}

#portrait > img {
  border: var(--border-width) solid var(--border-color);
  object-fit: contain;
  width: 280px;
  max-height: 20vw;
  max-width: 20vw;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#dialogtext {
  width: 100%;
  margin-left: 2%;
  padding-bottom: 40px;
  text-align: left;
  font-style: italic;
  overflow-y: scroll;
  color: black;
  align-items: baseline;
  transition: color 1s ease;  
}

.nightmode #dialogtext {
  color: white;
}

.hiding {
  visibility: hidden;
}

#charname {
  position: absolute;
  left: 30%;
  top: -30px;
  border: var(--border-width) solid var(--border-color);
  background: rgba(256, 256, 256, 1);
  padding: 10px;
  color: grey;
  z-index: 1;
  transition: background 1s ease;
}

.nightmode #charname {
  background: rgba(33, 33, 33, 1);
}

#gemtext {
  /* border: var(--border-width) solid red; */
}

.nightmode #gemtext{
  /* color: white; */
}

#gemname {
  color: blue;
  font-style: italic;
  transition: color 1s ease;
}
.nightmode #gemname {
  color: #bbf;
}

.gemquote {
  font-style: italic;
  margin: 5px 0px;
}

.coda {
  padding-top: 20px;
  font-style: normal;
  display: block;
}
.nightmode .coda {
  color: white;
  transition: color 1s ease;
}

#continue {
  font-style: normal;
  color: rgb(241, 141, 105);
  position: absolute;
  right: 30px;
  bottom: -15px;
  font-size: 60px;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  animation: bob 1s ease-in-out infinite;
  visibility: hidden;
  text-shadow: 0px 0px 1px var(--border-color);
transition: color 1s ease, text-shadow 1s ease, -webkit-text-stroke-color 1s ease;
}

#continue:hover {
  cursor: pointer;
}
#continue.visible {
  visibility: visible;
}

.nightmode #continue {
  color: rgb(228, 161, 72);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: #222;
  -webkit-text-stroke-width: 3px;
}

#continue::before {
  content: attr(data-char);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 7px var(--border-color);
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the vertical distance as needed */
  }
}


@media only screen and (max-width: 767px) {
  .dialog {
    font-size: 20px;
  }
}

.rotate {
  /* border: 2px solid blue; */
  height: 100%;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  /* transition: opacity 1s ease-in-out; */
}

.rotate>img {
  user-select: none;
  pointer-events: none;
  /* border: 2px solid blue; */
  max-height: 300px;
  opacity: 0;

}

.rotate.fade {
  animation: fadeRotate 8s;
  animation-fill-mode: forwards;
  /* visibility: hidden; */
}

@keyframes fadeRotate {
  0% {
    opacity: 0;
  }
  20% {
    opacity: .9;
  }
  80% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}