* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  color: black;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

#curtain, #bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, background-color 1s ease;
}

#curtain {
  z-index: 2
}

#bg {
  z-index: 0
}

.interface {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 50px;
  height: 20%;
  width: 100%;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

#summon {
  bottom: 0;
  padding: 10px;
  background-color: pink;
  border: 2px solid purple;
  color: purple;
  font-family: cursive;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}
#summon:hover {
  transform: scale(1.05); /* Enlarge the button slightly */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add a shadow */
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); /* Shimmer effect */
  background-size: 200% 200%; /* Background size for the shimmer */
  animation: shimmer 1s; /* Animation for shimmer effect */
}

/* Keyframes for the shimmer effect */
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

