* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overscroll-behavior-y: none;
  color: black;
}

#curtain, #bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, background-color 1s ease;
}

#curtain {
  z-index: 2
}

#bg {
  z-index: 0
}

#summon {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: pink;
  border: 2px solid purple;
  color: purple;
  font-family: cursive;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 10;
}
#summon:hover {
  transform: scale(1.05); /* Enlarge the button slightly */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add a shadow */
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); /* Shimmer effect */
  background-size: 200% 200%; /* Background size for the shimmer */
  animation: shimmer 1s; /* Animation for shimmer effect */
}

/* Keyframes for the shimmer effect */
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


.interface {
  position: absolute;
  z-index: 1;
  margin: 30px 0px;
  width: 100%;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.dialog {
  width: 100%;
  margin: auto;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  /* font-family: Optima; */
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  margin: 20px;
  border: 2px solid gold;
  top : 0px;
  /* z-index: 3; */
}

.bottom {
  width: 100%;
  border: 2px solid red;
  bottom : 0px;
  z-index: 3;
}


#portrait {
  /* border: 3px solid green; */
  display: flex;
  align-items: center;
}

#portrait > img { 
  height: 128px;
  width: 128px;
}

#dialogtext {
  width: 100%;
  /* border: 3px solid green; */
  padding: 20px;
  padding-top: 30px;
  background: rgba(255, 255, 255, 0.5);
  justify-content: left;
  align-items: left;
  text-align: left;
  font-style: italic;
}

#text {
  position: relative;
}
#charname {
  position: absolute;
  left: 20px;
  top: -20px;
  border: 2px solid green;
  background-color: white;
  padding: 10px;
  color: grey;
}

.gemname {
  color: blue;
  font-style: italic;
}

.gemquote {
  font-style: italic;
  margin: 5px 0px;
}

.coda {
  /* border: 2px solid blue; */
  padding-top: 10px;
  color: black;
  font-style: normal;
}

#continue {
  position: absolute;
  right: 30px;
  bottom: -20px;
  font-size: 60px;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 3px;
  animation: bob 1s ease-in-out infinite;
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the vertical distance as needed */
  }
}
#nightmode, #info {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: 2px solid grey;
}

.buttons {
  justify-items: left;
}